<section class="hero is-primary is-bold is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <mat-card class="home-card">
                <p class="title leevro-font">
                    leevro
                </p>
                <p class="subtitle">
                    Your favorite book app.
                </p>
                <div class="button-container">
                    <div class="login-button-container">
                        <button mat-stroked-button class="login-button">Login</button>
                    </div>
                    <div class="register-button-container">
                        <button mat-stroked-button class="register-button">Register</button>
                    </div>
                </div>
                <div class="text-padding leevro-font">Alternate login:</div>
                <div class="google-icon"></div>
            </mat-card>

        </div>
    </div>
</section>