<nav class="modern-navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a class="brand-logo">
                <img src="../assets/img/logo.svg" width="60" alt="Leevro Logo">
                <span class="brand-text">leevro</span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-nav">
                <a class="nav-link active">
                    <span>Home</span>
                </a>
                <div class="nav-dropdown">
                    <a class="nav-link">
                        <span>About</span>
                        <mat-icon class="dropdown-icon">keyboard_arrow_down</mat-icon>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">
                            <mat-icon>contact_mail</mat-icon>
                            <span>Contact</span>
                        </a>
                        <a class="dropdown-item">
                            <mat-icon>info</mat-icon>
                            <span>About Us</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-actions">
                <button class="menu-button" mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
    </div>
</nav>